blockquote {
  margin: 0 30px;
}

/* for list items */
li {
  margin: 0 50px;
}

@media screen and (max-width: 600px) {
  .hide-sm {
    display: none;
  }
}

.text-right {
  float: right;
}

.text-left {
  float: left;
}

:not(pre) > code[class*='language-text'],
pre[class*='language-text'] {
  color: #d73737;
  background: #fefbec;
  box-shadow: none;
  font-size: inherit;
}
